body {
    background-image: url('admindashback.jpg');
    background-size: cover;
    background-position: center;    
    font-family: Arial, sans-serif;
    margin: 0;
    background-attachment: fixed;
}
/*start of topnav*/
.topnav{
	background-color: #f4eeee;
	box-shadow: 0 0 10px rgb(7, 202, 209);
	overflow: hidden;
  }
  .stickyheader{
	position: sticky;
	bottom: 20%;
  }
  .topnav a {
	float: left;
	display: inherit;
	color: #131010;
	text-align: center;
	padding: 20px 18px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #00ffff;
	color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
	background-color: BLACK;
	color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #00ffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/*end of topnav*/

.container {
    color: #000000;

}

.upload {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.394);
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin-left: 10px;
    margin-top:70px; 
    max-width: 770px;
}
.channel{
    background-color: rgba(255, 255, 255, 0.394);
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin-right: 10px; 
    margin-left: auto; 
    margin-top: -583px;
    max-width: 770px;  
    padding-bottom:76px;
}
.dashimg {
    margin-left: 170px; 
}
.text{
    margin-left: 200px;
}
.upload-btn{
    margin-left: 310px;
}
.channeltitle{
    margin-left: 250px;
    margin-top: 30px;
}
.totalstar{
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
}
.number{
    margin-top:40px;
    margin-left: 140px;
}
.topvid{
    margin-top: 70px;
    margin-left: 120px;
}
/*start of footer*/
Footer {
	background-color: rgba(255, 255, 255, 0.619);
	text-align: center;	
	text-transform: uppercase;
	padding-top: -10px;
	margin-top:auto;
	box-shadow: 0 0 10px rgb(7, 202, 209);

}
.content{
	width:100%;
	margin: 0 auto;
	padding-top: 35px;
}
footer li{
	list-style: none;
	display: inline-block;
}
.social-icon a{
	background: black;
	color: white;
	padding: 10px;
	border-radius: 90px;
	display: flex;
	font-size: 25px;	
	margin-top: 10px;
	margin-bottom: 5px;	
}
.social-icon a:hover{
	color: #00ffff;
}
.footer-link h5, a{
	float: left;
	display: inherit;
	color: #131010;
	text-align: center;
	text-decoration: none;
	margin-bottom: -5px;
    padding: 2px;
}	
.footer-link h5:hover{
	color: #00ffff;
}
.footer-bottom{
	background-color:rgba(0, 4, 5, 0.768);
	color: rgb(249, 242, 242);
	padding: 15px;
	margin-top: 20px;
}
.footer-bottom p{
	margin-bottom: 0px;
}
/*end of footer*/