@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --main-radius:5px;
    --main-padding:5px;
  }

  .container{
    display:grid;
    height:130ch;
    grid-template-columns:  2fr 2fr 2fr 2fr;
    grid-template-rows: .7fr.5fr 3fr 3fr .3fr;
    grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "mostrec mostrec mostrec quick"
    "fave fave fave fave"
    "footer footer footer footer"
    ;

    grid-gap: 0.2rem;
    font-family:"Inter",sans-serif;
    font-weight:800;
    text-transform: uppercase;
    font-size:12px;
    color: rgb(255, 251, 251);
    text-align: center;
    background-color: rgba(79, 70, 70, 0.395);
  }

  nav{
    background-color: #f4eeee;
	  box-shadow: 0 0 10px rgb(255, 255, 255);
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

  html{
    height: 100%;
  }
  /*start of topnav*/
  body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background: url(CSS/loginbg.jpg);
  }
  /* Style the links inside the navigation bar */
  .topnav{
  background-color: #f4eeee;
  box-shadow: 0 0 10px rgb(7, 202, 209);
	overflow: hidden;
  }
  .stickyheader{
  position: sticky;
  bottom: 20%;
  }
  .topnav a {
    float: left;
    display: inherit;
    color: #131010;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
    font-size: 17px;
    }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #00ffff;
    color: black;
    }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: BLACK;
    color: white;
    }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #00ffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/*end of topnav*/

  main{
    background: rgb(7, 202, 209);
    grid-area: main;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
  }

    /*start of mostrec*/
  #mostrec{ 
    grid-area: mostrec;
  } 

#fave{    
    grid-area: fave;
  }

#quick{
    grid-area: quick;
  }

#mostrec,#fave,#quick{
  background: rgb(3, 3, 3);
  border-radius:var(--main-radius);
  padding-top:var(--main-padding);
}

    /*start of mostrec images */

    div.gallery {
      border: 1px solid #ccc;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }

    .mostrecdesc {
      font-size: 15px;
      margin-top: 20px;
      margin-left: -820px;
    }

    .favoritedesc {
      font-size: 15px;
      margin-top: 20px;
      margin-left: -1200px;
    }

    .action {
      width: 100px; /* Adjust this value for width */
      height: 100px; /* Adjust this value for height */
      border-radius: 10%;
      margin-top: 40px; /* Makes the icon circular, adjust as needed */
  }


    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 40,
  }

    .material-symbols-outlined{
      float: left;
      color: red;
      margin-top: -20px;
    }
    
    *{
      box-sizing: border-box;
    }
    
    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

/*end of mostrec images */
/*end of mostrec*/

/*footer*/
#footer {
  padding: 20px 0;
  color: rgb(255, 251, 251);
  font-size: 14px;
  bottom: 0;
  width: 100%;
  margin-left: 180px; /* Center-align the content in the footer */
}

.movtitle, .footer-bottom, .about{
  margin-bottom: 10px;
}
.movtitle{
  margin-left: 300px;
}

.social-icon {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-left: 440px; /* Remove the margin to center the social icons */
}
.social-icon a:hover{
	color: #00ffff;
}
.social-icon li {
  margin: 0 15px; /* Adjust the margin as needed */
}

.social-icon a {
  text-decoration: none;
  color: rgb(255, 251, 251);
  font-size: 20px;
}


/* Remove the margin-right and add margin-left to .container to center the entire content */
.container {
  margin-left: auto;
  margin-right: auto;

}
.about {
  margin-left: -300px; /* You can adjust the value as needed */
}
.footer-bottom {
  margin-top: 0px;
  background-color: rgba(0, 4, 5, 0.768);
  text-align: center;
}
.footer-bottom p{
  margin-left: 20px;
  color: white;
}

.designer {
  color: rgba(255, 255, 255, 0.768);
}

  @media only screen and (max-width:550px){
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.7fr 1fr 1fr 2.5fr;
      grid-template-areas: 
      "nav"
      "main"
      "mostrec"
      "fave"
      "footer";
    }
}