.title {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
  }

:root{
  --main-radius:5px;
  --main-padding:5px;
}

.container{
    display:grid;
    height:100vh;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: .7fr.5fr 3fr 3fr;
    grid-template-areas: 
    "nav nav nav nav"
    "mostrec mostrec mostrec action"
    "fave fave fave fave"
    "footer footer footer footer"
    ;

    grid-gap: 0.2rem;
    font-family:"Inter",sans-serif;
    font-weight:800;
    text-transform: uppercase;
    font-size:12px;
    color: rgb(255, 251, 251);
    text-align: center;
    background-color: rgb(79, 70, 70);
    }

/*start of topnav*/
.topnav {
    background-color: #c44848a7;
    overflow: hidden;
    grid-area: topnav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(223, 248, 4);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ddd;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  /*end of topnav*/

    nav{  
        grid-area: nav;
        background: rgb(254, 254, 254);
        color: #000000;
        margin-top: 5px;
      }
    
    #mostrec{ 
        grid-area: mostrec;
      } 

    #fave{    
        grid-area: fave;
      }
    
    #action{
        grid-area: action;
      }

    #mostrec,#fave,#action{
      background: rgb(3, 3, 3);
      border-radius:var(--main-radius);
      padding-top:var(--main-padding);
    }

    footer{
        text-align: center;
        grid-area: footer;
        background-color: #c44848a7;
        border-radius:var(--main-radius);
        padding-top:var(--main-padding);
      }

    /*start of mostrec images */

      div.gallery {
        border: 1px solid #ccc;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }

      .mostrecdesc {
        font-size: 15px;
        margin-top: 20px;
        margin-left: -820px;
      }

      .favoritedesc {
        font-size: 15px;
        margin-top: 20px;
        margin-left: -1200px;
      }

      .action {
        width: 100px; /* Adjust this value for width */
        height: 100px; /* Adjust this value for height */
        border-radius: 10%;
        margin-top: 40px; /* Makes the icon circular, adjust as needed */
    }


      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40,
    }

      .material-symbols-outlined{
        float: left;
        color: red;
        margin-top: -20px;
      }

      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

          /*end of mostrec images */
    
      @media only screen and (max-width:550px){
        .container{
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 0.4fr 0.7fr 1fr 1fr 0.4fr;
          grid-template-areas: 
          "topnav"
          "nav"
          "action"
          "mostrec"
          "fave"
          "footer";
        }
    }