* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-image: url("https://wallpapercave.com/wp/wp1945898.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    width: 90%;
    max-width: 400px;
    background: rgba(1, 20, 20, 0.805);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 50px rgb(7, 202, 209);
    margin: 20px auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    outline: none;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #00ffff;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    transition: all 0.3s ease;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-btn {
    padding: 10px;
    width: 48%;
    background-color: rgb(121, 188, 233);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-btn:hover {
    background-color: #00ffff;
}

.signIn-Link p, .remember label {
    color: white;
    text-align: center;
}

.signIn-Link a {
    color: rgb(140, 42, 147);
    text-decoration: none;
}

.remember input[type="checkbox"] {
    margin-right: 5px;
}
